*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/framework-x5/build/
/framework-x5/build/intermediates/classes/debug/
/framework910/build/
